.Print-Center {
    font-size: 10px;
    text-transform: uppercase;
}

table {
    width: 100%;
}

tbody {
    font-size: 10px;
}

td {
    text-align: left !important;
}

th {
    font-size: 10px;
    text-align: left;
}

.table.table.tbtblnc {
    margin: 10px 10px 0 0 !important;
    float: left !important;
    width: 16% !important;
    border: 1px solid;
}

THEAD {
    display: table-header-group;
}

.headingtable {
    font-size: 11px;
}

.sign {
    float: left !important;
    width: 22% !important;
    margin: 40px 0 0 20px;
    text-align: left;
}


.total td {
    border: 1px solid;
    font-weight: bolder;
}

.sum {
    font-size: 10px;
}

.cat-heading {
    font-size: 10px;
}

.sign-align {
    text-align: left;
    margin: 0 auto;
    font-size: 10px;
}

.declare {
    text-align: left;
    margin: 5px 0 0 0;
    font-size: 10px;
    display: block !important;
}

.tbtblnc td {
    border: 1px solid;
    padding: 2px 5px 2px 5px;
    text-align: right;
}

.balanceC\/F {
    width: 35%;
    margin: 0 auto;
}

.tblCF td {
    border: 1px solid;
    padding: 2px 15px 2px 15px;
    text-align: right;
}

.left-text {
    text-align: left !important
}

.c-left {
    padding: 0px 2px 0px 2px;
}

.custom {
    width: 100px !important;
    margin: 0 10px 0px 0px !important;
}

.signature {
    margin: 15px 0 0 0;
}

.sign-h {
    float: left;
}

.pLeft {
    float: left;
    text-align: left;
    padding: 0 0px 0px 170px;
}

.dep-det {
    margin: 22px 0 0 0;
}

.main td {
    text-align: right;
    width: 51px !important;
}
